.abc {
    background-image: url('/Screenshot\ 2026-03-05\ 152903.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 300px;
    color: #f0f8ff;

}