.txt1 {
    display: block;
}

.txt2 {
    display: flex;
}

.txt3 {
    display: grid;
}

.txt4 {
    display: inline;
}

.txt5 {
    display: inline-block;
}

p {
    background-color: aquamarine;
    padding: 10px;
}

span {
    background-color: bisque;
    padding: 10px;
}